@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

body{
    font-family: 'Noto Sans KR';
}

.wrap{
    width: 100%;
}

.container{
    padding:0 1.2rem;
    height:100%;
}

.flex{
    display:flex;
    flex-wrap: wrap;
    height:100%;
}


.main-wrap{
    height:100vh;

}
.main-wrap .main-top{
    position:relative;
    height:70%;
    background:#FFDCE3;
}
.main-wrap .main-top .back{
    position:absolute;
}
.main-wrap .main-top .back:nth-child(1){
    top:0;
    right:0;
}
.main-wrap .main-top .back:nth-child(2){
    bottom:0;
    left:0;
}
.main-wrap .main-top .back:nth-child(3){
    bottom:10%;
    left:60%;
}
.main-wrap .main-top .app-down{
    padding:1rem 0;
    width:100%;
    height:10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.main-wrap .main-top .app-down button{
    padding:0.5rem 1rem;
    border:none;
    border-radius: 55px;
    background:#333;
    color:#fff;
}
.main-wrap .main-top .main-content{
    display:flex;
    flex-wrap:wrap;
    align-items: end;
    width:100%;
    height:50%;
    z-index: 2;
}
.main-wrap .main-top .main-content h2{
    width:100%;
    font-weight:500;
    font-size: 1.2rem;
}
.main-wrap .main-top .main-content h1{
    width:100%;
    font-weight:200;
    font-size: 2.5rem;
    line-height: 4rem;
}
.main-wrap .main-top .tit-bold{
    position: relative;
    font-weight:700;
    letter-spacing: -0.7rem;
}
.main-wrap .main-top .tit-bold::before{
    content:"";
    position:absolute;
    top:0;
    left:50%;
    transform: translate(0,-50%);
    width:6px;
    height:6px;
    background:#2E96FF;
    border-radius:6px;
}
.main-wrap .main-top .tit-bold:nth-child(4){
    letter-spacing: 0;
}
.main-wrap .main-top .main-img {
    width:130%;
    margin:0 -1.2rem;
    z-index: 2;
}
.main-wrap .main-top .main-img img{
    width:100%;
}

.btn-wrap{ 
    position:fixed;
    width:100%;
    bottom:1rem;
    z-index: 3;
}
.btn-wrap .btn{
    display:flex;
}
.btn-wrap .btn button{
    width:50%;
    padding:0.5rem 0;
    border:none;
    border-radius:5rem;
    font-size:1rem;
    line-height:1.4rem;
}
.btn-wrap .btn button:nth-child(1){
    margin-right:0.5rem;
    background:#4D4F5B;
    color:#fff;
}
.btn-wrap .btn button:nth-child(2){
    background:#FFDCE3;
    color:#4D4F5B;
}


.contents{
    margin-bottom:7rem;
}
.contents .box-wrap{
    margin:8rem 0;
    width:100%;
    height:13rem;
}
.contents .box-wrap .box{
    position:relative;
    border-radius:1rem;
    padding:0 1rem;
    height:100%;
}
.contents .box-wrap .box h2{
    position:absolute;
    font-size:1.5rem;
    font-weight:700;

}
.contents .box-wrap .box p{
    position:absolute;
    line-height:1.5rem;
}
.contents .box-wrap .box button{
    position:absolute;
    padding:.8rem 2rem;
    border:none;
    border-radius: 5rem;
    background:#333;
    font-size:1rem;
    color:#fff;
}
.contents .box-wrap:nth-child(1) .box h2,.contents .box-wrap:nth-child(3) .box h2{
    right:1rem;
    top:-.8rem;
}
.contents .box-wrap:nth-child(1) .box p,.contents .box-wrap:nth-child(3) .box p{
    right:1rem;
    top:2rem;
    text-align:right;
}
.contents .box-wrap:nth-child(1) .box button,.contents .box-wrap:nth-child(3) .box button{
    right:1rem;
    bottom:-.5rem;
}
.contents .box-wrap:nth-child(2) .box h2,.contents .box-wrap:nth-child(4) .box h2{
    left:1rem;
    top:-.8rem;
}
.contents .box-wrap:nth-child(2) .box p,.contents .box-wrap:nth-child(4) .box p{
    left:1rem;
    top:2rem;
    text-align:left;
}
.contents .box-wrap:nth-child(2) .box button,.contents .box-wrap:nth-child(4) .box button{
    left:1rem;
    bottom:-.5rem;
}
.contents .box-wrap:nth-child(1) .box{
    background: url(../img/box01.png) no-repeat, #D2F8E5;
}
.contents .box-wrap:nth-child(2) .box{
    background:url(../img/box02.png) no-repeat bottom right, #F9EDFF;
    background-size: 60%;
}
.contents .box-wrap:nth-child(3) .box{
    background:url(../img/box03.png) no-repeat, #EBFCFF;
    background-size: contain;
}
.contents .box-wrap:nth-child(4) .box{
    background:url(../img/box04.png) no-repeat bottom right, #FFF5E3;
    background-size: contain;
}

.contents .more-box-wrap{

}
.contents .more-box-wrap .more-box{
    text-align:center;
}
.contents .more-box-wrap .more-box h2{
    font-size:1.5rem;
    line-height:2rem;
    font-weight:700;
}
.contents .more-box-wrap .more-box p{
    margin:1rem 0;
    line-height:1.5rem;
}
.contents .more-box-wrap .more-box .more-box-img-wrap{
    position:relative;
    width:100%;
}
.contents .more-box-wrap .more-box .more-box-img-wrap img{
    width:100%;
}
.contents .more-box-wrap .more-box .more-box-img-wrap ul{
    position:absolute;
    bottom:15%;
    display:flex;
    width:100%;
}
.contents .more-box-wrap .more-box .more-box-img-wrap ul li{
    margin-left:1rem;
    padding:1rem 0.7rem;
    width:25%;
    border-radius:0.5rem;
    font-size:.8rem;
    line-height:1rem;
    text-align:left;
    color:#fff;
    
}
.contents .more-box-wrap .more-box .more-box-img-wrap ul li .bold{
    font-weight:600;
}
.contents .more-box-wrap .more-box .more-box-img-wrap ul li:nth-child(1){
    background:#FFA427;
    margin:0;
}
.contents .more-box-wrap .more-box .more-box-img-wrap ul li:nth-child(2){
    background:#4561FF;
}
.contents .more-box-wrap .more-box .more-box-img-wrap ul li:nth-child(3){
    background:#FF4174;
}
.contents .more-box-wrap .more-box .more-box-img-wrap ul li:nth-child(4){
    background:#159049;
}
.contents .more-box-wrap .more-box button{
    position:relative;
    margin-top:-.5rem;
    padding:.8rem 2rem;
    border:none;
    border-radius: 5rem;
    background:#333;
    font-size:1rem;
    color:#fff;
    z-index: 2;
}